
<!-- ROL Update and Save -->
<!-- modal-dialog-centered CENTRAL MODAL -->
<div th:fragment="Update" class="modal-dialog ">
   <!-- The Modal -->
   <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
         <h4 class="modal-title tituloModal"></h4>
         <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
         <form id="formUpdate" onsubmit="actualizar(event);">
            <label>   Producto:   </label>
            <div class="input-group mb-2" >
               <span class="input-group-append bg-white border-left-0">
                  <span class="input-group-text bg-transparent">
                     <i class="fa fa-user"></i>
                  </span>
               </span>
               <input type="hidden" id="id" >
               <input type="text" id="idProducto" class="form-control border-left-0 focu " placeholder="* Campo requerido"  required>
            </div>
            <label for="codigo">   Cantidad:   </label>
            <div class="input-group mb-2">
               <span class="input-group-append bg-white border-left-0">
                  <span class="input-group-text bg-transparent">
                     <i class="fa fa-user"></i>
                  </span>
               </span>
               <input type="text" class="form-control border-left-0 focu " placeholder="* Campo requerido" id="cantidad" required>
            </div>
            <label>   Evento:   </label>
            <div class="input-group  mb-2" >
               <select id="evento" class="form-control">
                  <option value="Entrada">Entrada</option>
                  <option value="Salida">Salida</option>
               </select>
            </div>
            <label for="codigo">   Descripcion:   </label>
            <div class="input-group mb-2">
               <span class="input-group-append bg-white border-left-0">
                  <span class="input-group-text bg-transparent">
                     <i class="fa fa-user"></i>
                  </span>
               </span>
               <input type="text" class="form-control border-left-0 focu " placeholder="* Campo requerido" id="descripcion" required>
            </div>
            <hr>
            <div class="form-group text-right ">
               <button type="submit" class="btn btn-success btnLoad">
                  <i class="fa fa-save"></i> Modificar
               </button>
               <button type="button" class="btn btn-secondary btnCancelar" >
                  <i class="fa fa-times"></i> Cancelar
               </button>
            </div>
            <span class="text-danger msg"></span>
         </form>
      </div>
   </div>
</div>



<!-- ROL Delete -->
<div th:fragment="Delete" class="modal-dialog ">
   <!-- The Modal -->
   <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
         <h4 class="modal-title">Eliminar Registro</h4>
         <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
         <form>
            <div class="text-center text-danger">Estas a punto de eliminar el registro de <b id="dato"></b>.<br> ¿Estas seguro que deseas hacerlo?</div>
            <hr>
            <div class="form-group text-right">
               <button type="button" class="btn btn-danger" id="btnEliminar">
                  <i class="fa fa-save"></i> Eliminar
               </button>
               <button type="button" class="btn btn-secondary btnCancelar" >
                  <i class="fa fa-times"></i> Cancelar
               </button>
            </div>
            <span class="text-danger msg"></span>
         </form>
      </div>
   </div>
</div>