<section th:insert="componentes/plantilla :: plantilla">
    <title th:fragment="titulo">Nueva Compra</title>
    <div class="container" th:fragment="content">
        <div class="container">
            <h1 class="text-center mt-2" style="color: black"><strong>Nueva Compra</strong></h1>

            <div class="form-group row" style="margin-left: 20%;">
                <label for="inputName" class="col-form-label" style="color: black;"><strong>Fecha: </strong>
                </label>
                <div class="col-sm-3">
                    <input type="date" class="form-control" name="fecha" id="fecha">
                </div>

                <div class="form-group row" style="margin-left: 5%;">
                    <label for="inputName" class="col-form-label" style="color: black;"><strong>N° Factura: </strong>
                    </label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="numeroFactura" id="text">
                    </div>
                </div>
            </div>

            <div class="form-group row" style="margin-left: 20%;">
                <label for="inputName" class="col-form-label" style="color: black;"><strong>Tipo Compra: </strong>
                </label>
                <div class="ml-2 mr-2">
                    <select id="tipoVenta" class="form-control">
                        <option value="Gravadas">Gravadas</option>
                        <option value="Exentas">Exentas</option>
                    </select>
                </div>
                <div class="form-group row" style="margin-left: 8%;">
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="proveedor" id="proveedor" readonly="readonly"
                            placeholder="Proveedor">
                    </div>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalProveedores"><i
                            class="fas fa-search-plus"></i> Buscar</button>

                </div>
            </div>
            <hr>
            <h3 class="text-center" style="color: black"><strong>Detalles de la compra</strong></h3>
            <div class="form-group row" style="margin-left: 3%;">
                <div class="col-sm-2">
                    <input type="number" class="form-control" name="cantidad" id="cantidad" placeholder="Cantidad">
                </div>
                <div class="col-sm-2">
                    <input type="number" class="form-control" name="precioCompra" id="precioCompra"
                        placeholder="Precio">
                </div>
                <div class="col-sm-2">
                    <input type="number" class="form-control" name="descuento" id="descuento" placeholder="Descuento %">
                </div>
                <div class="col-sm-3">
                    <input type="text" class="form-control" name="idProducto" id="idProducto" readonly="readonly"
                        placeholder="Producto">
                </div>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalProducto"><i
                        class="fas fa-search-plus"></i> Buscar</button>
                <button name="agregarProducto" id="agregarDetalle" class="btn btn-success ml-1 " type="button"><i
                        class="fas fa-plus"></i> Agregar</button>
            </div>
            <div>
                <table class="table border border-dark" style="color: black; text-align: center;" id="tabla">
                    <thead class="bg-gradient-primary" style="color: white;">
                        <tr>
                            <th>
                                CANTIDAD
                            </th>
                            <th>
                                PRODUCTO
                            </th>
                            <th>
                                PRECIO
                            </th>
                            <th>
                                DESCUENTO
                            </th>
                            <th>
                                OPERACION
                            </th>
                        </tr>
                    </thead>
                    <tbody style="color: black;">

                    </tbody>

                </table>
            </div>
            <div style="margin-left: 133px;">
                <label style="margin-left: 710px;  margin-top: 14px;" for="inputName" class="col-sm-2 col-form-label">
                    <h5 style="color: black;">Total compra:</h5>
                </label>
                <div style="margin-left: 735px;margin-top:-45px;" class="col-sm-2">
                    <input style="margin-left: 76%;" type="text" class="form-control" name="totalVenta" id="totalVenta"
                        readonly="readonly">
                </div>
            </div>
            <div class="text-center form-group mt-4">
                <button type="button" class="btn btn-success" id="guardarCompra">
                    <i class="fas fa-save"></i> Guardar
                </button>
                <a name="cancelar" id="cancelar" class="btn btn-danger" th:href="@{/compra/index}" role="button"><i
                        class="fas fa-window-close"></i> Cancelar</a>
            </div>
        </div>


        <!--  Modal Para seleccionar producto-->
        <!-- The Modal -->
        <div class="modal fade" id="ModalProveedores">
            <div class="modal-dialog modal-xl">
                <div class="modal-content" style="margin-left: 150px;">

                    <!-- Modal Header -->
                    <div class="container">
                        <div class="modal-header">
                            <h4 class="modal-title">Listado de proveedores</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body text-center">
                            <table class="table border border-dark text-center" id="tablaProveedores"
                                style="color: white; text-align: center;">
                                <thead class="bg-gradient-primary" style="color: white;">
                                    <tr>
                                        <th>
                                            ID
                                        </th>
                                        <th>
                                            NOMBRE
                                        </th>
                                        <th>
                                            DIRECCION
                                        </th>
                                        <th>
                                            DUI
                                        </th>
                                        <th>
                                            TELEFONO
                                        </th>
                                        <th>
                                            CORREO
                                        </th>
                                        <th>
                                            OPERACION
                                        </th>
                                    </tr>
                                </thead>
                                <tbody style="color: black;">

                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>

        <!--  Modal Para seleccionar producto-->
        <!-- The Modal -->
        <div class="modal fade" id="ModalProducto">
            <div class="modal-dialog modal-xl">
                <div class="modal-content" style="margin-left: 150px;">

                    <!-- Modal Header -->
                    <div class="container">
                        <div class="modal-header">
                            <h4 class="modal-title">Listado de productos</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <table class="table border border-dark" id="tablaProductos"
                                style="color: white; text-align: center;">
                                <thead class="bg-gradient-primary" style="color: white;">
                                    <tr>
                                        <th>
                                            ID
                                        </th>
                                        <th>
                                            CODIGO
                                        </th>
                                        <th>
                                            NOMBRE
                                        </th>
                                        <th>
                                            PRESENTACION
                                        </th>
                                        <th>
                                            EXISTENCIA
                                        </th>
                                        <th>
                                            CATEGORIA
                                        </th>
                                        <th>
                                            MARCA
                                        </th>
                                        <th>
                                            OPERACION
                                        </th>
                                    </tr>
                                </thead>
                                <tbody style="color: black;">

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>

        <script type="text/javascript" th:src="@{/ajax/ventaApi.js}"></script>
    </div>
</section>