<!-- CONTENIDO -->
<!-- IMPORTACION PLANTILLA -->
<section th:insert="componentes/plantilla :: plantilla">
   <!-- ASIGNACION DEL TITULO DE LA PAGINA -->
   <title th:fragment="titulo">Productos</title>

   <!-- CONTENIDO PAGINA -->
   <div class="container" th:fragment="content">
      <!-- ASIGNANDO DE TEMA CON CLASSES YA DEFINIDAS -->
      <h1 th:insert="componentes/plantilla :: subtema" th:fragment="tema"> Listado de Productos </h1>

      <!-- Button para abrir el modal para nuevo registro-->
      <div class="container">
         <!-- Button para abrir el modal para nuevo registro-->
         <div style="text-align: left">
            <button type="button" class="btn btn-primary mt-2" id="nuevo">
               <i class="fas fa-plus"></i><strong> Nuevo</strong>
            </button>
         </div>
         <hr>
         <table class="table text-center table-hover" id="tablaConsultas" style="width: 100%">
            <thead class="bg-primary" style="color: white;">
               <tr>
                  <!-- <th>   <h5>ID</h5>   </th> -->
                  <th>
                     <h5>CODIGO</h5>
                  </th>
                  <th>
                     <h5>NOMBRE</h5>
                  </th>
                  <th>
                     <h5>PRESENTACION</h5>
                  </th>
                  <th>
                     <h5>CATEGORIA</h5>
                  </th>
                  <th>
                     <h5>MARCA</h5>
                  </th>
                  <th>
                     <h5>EXISTENCIA</h5>
                  </th>
                  <!-- <th>   <h5>INGRESO</h5>   </th>
                     <th>   <h5>MODIFICACION</h5>   </th> 
                  <th>
                     <h5>COSTO VENTA</h5>
                  </th>-->
                  <th>
                     <h5>OPERACIONES</h5>
                  </th>
               </tr>
            </thead>
            <tbody></tbody>
         </table>
      </div>

      <script type="text/javascript" th:src="@{ajax/funciones.js}"></script>
      <script type="text/javascript" th:src="@{ajax/producto.js}"></script>

      <!--Modal para editar registro-->
      <div class="modal mt-5" id="editar">
         <section th:insert="vistas/Productos/modals :: Update"></section>
      </div>

      <!-- Modal para eliminar registro -->
      <div class="modal mt-3" id="eliminar">
         <section th:insert="vistas/Productos/modals :: Delete"></section>
      </div>

      <!-- Modal para ver registro -->
      <div class="modal mt-3" id="ver">
         <section th:insert="vistas/Productos/modals :: View"></section>
      </div>
   </div>
</section>